<!-- <nav class="navbar p-0 navbar-expand-md sticky-top nav-ref" fxShow="true" fxHide.lt-md="true">
  <div class="container">
    <div class="navbar-nav align-items-center justify-content-start">

      <div class="nav-item p-2">
        <a class="nav-link p-0" routerLink="/">
          <div class="row m-0 align-items-center">
            <p id="logo-text" class="col m-0"><i class="fab fa-dev"></i> Profesional CV <i class="fas fa-code"></i></p>
          </div>
        </a>
      </div>
    </div>

    <button class="mr-3 navbar-toggler btn btn-info" type="button" (click)="navbarCollapsed = !navbarCollapsed"
      [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="justify-content-end navbar-collapse collapse" id="navbarSupportedContent"
      [ngbCollapse]="navbarCollapsed">
      <div class="nav navbar-nav align-items-center p-3">
        <div class="p-0 nav-item">
          <a class="nav-link" routerLink="/"> ABOUT </a>
        </div>
        <div class="p-0 nav-item">
          <a class="nav-link" routerLink="/"> SKILLS </a>
        </div>
        <div class="p-0 nav-item">
          <a class="nav-link" routerLink="/"> EXPERIENCE </a>
        </div>
        <div class="p-0 nav-item">
          <a class="nav-link" routerLink="/"> PORTFOLIO </a>
        </div>
        <div class="p-0 nav-item">
          <a class="nav-link" routerLink="/"> CONTACTS </a>
        </div>
      </div>
    </div>
  </div>
</nav> -->
